html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Spectral", serif;
}

img {
    width: 100%;
}

section {
    padding: 100px 0;
    background: #000625;
}

.section_title {
    margin-bottom: 30px;
}

.section_title h2 {
    position: relative;
    text-align: center;
    color: #2aabc2;
    font-size: 30px;
}

.section_title h2:hover {
    background-color: #32355f;
}

header {
    background: rgb(37, 37, 37);
    border-bottom: 1px solid rgba(189, 189, 189, 0.801);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}

.nav_links {
    display: flex;
}

.nav_links li a {
    margin-left: 15px;
    color: #bbbbbb;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.logo h2 a {
    color: #fff;
    text-transform: uppercase;
}

.inner_anasayfa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    color: #ffffff;
}

.inner_anasayfa h1 {
    font-size: 50px;
    color: #24CAAC;
    border: 2px solid;
    animation: fadeIn 2s ease-in-out forwards;
}

.innerhakkimda {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 80%;
    color: #fff;
}

#profile-img {
    float: right;
    width: 200px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.innerhakkimda_child {
    flex: 1;
    min-width: 250px;
    max-width: 30%;
    margin: 10px;
    padding: 25px 20px;
    background: rgba(55, 66, 80, 0.281);
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
}

.innerhakkimda_child:hover {
    border: 1px solid #bbbbbb;
}

.inner_ilgi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.child_ilgi {
    flex-basis: 24%;
    color: #fff;
    padding: 20px 10px;
    border: 1px solid transparent;
    transition: 0.3s;
    border-radius: 5px;
}

.child_ilgi:hover {
    border: 1px solid #24CAAC;
}

.social_links a {
    margin: 10px;
    display: inline-block;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#currency-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
}

#currency-container img.currency-logo {
    width: 50px;
    height: 50px;
}

#currency-container p {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: red; /* Yaz覺 rengini k覺rm覺z覺 yapma */
}

#currency-container span {
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff0000;
}
